body {
  margin: 0;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: midnightblue;
  color: whitesmoke;
  text-align: center;
  font-size: 48px;
  box-shadow: 0 2px 1px -1px gray;
  padding: 2rem;
}

.subheader {
  font-size: 28px;
}
